.contact_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.contact_info{
    flex-direction: column;
    padding: 2rem;
    margin: 3rem;
}
.contact_underline{
    width: 100px;
    height: 5px;
    background-color: black;
}
.contact_img{
    border: 1px solid black;
    background-color: paleturquoise;
    width: 100%;
    max-width: 200px;
    height: auto;

}

.contact_form_groups{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.form_btn{
    width: 200px;
    height: 30px;
    border-radius: 3rem;
    background-color: black;
    color: white;
}